.mag-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 540px;
    height: 672px;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    position: absolute;
    z-index: 0;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-panel.hidden {
        display: none; }
    .mag-component-panel > .body {
        overflow: hidden; }
    .mag-component-panel > .title {
        height: 84px;
        line-height: 84px;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        background-repeat: repeat-x;
        overflow: hidden;
        text-overflow: ellipsis; }
        .mag-component-panel > .title .name {
            text-transform: uppercase; }
        .mag-component-panel > .title .amountContainer {
            width: 135px; }
            .mag-component-panel > .title .amountContainer .amount {
                float: right;
                height: 36px;
                min-width: 21px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                font-size: 29.7px;
                padding: 0 9px;
                line-height: 40.26px; }
    .mag-component-panel .mag-component-list .item {
        height: 84px;
        line-height: 84px;
        font-size: 29.7px; }
    .mag-component-panel.main {
        width: 720px;
        top: 102px;
        left: 600px;
        height: 816px;
        z-index: 2; }
        .mag-component-panel.main .mag-component-list .item {
            height: 102px;
            line-height: 102px;
            font-size: 33px; }
        .mag-component-panel.main > .title {
            height: 102px;
            line-height: 102px;
            font-size: 36px; }
        .mag-component-panel.main.size2 {
            width: 1170px; }
        .mag-component-panel.main.size3 {
            width: 1170px; }
    .mag-component-panel.left {
        top: 192px;
        left: 60px; }
    .mag-component-panel.right {
        top: 192px;
        right: 60px; }
    .mag-component-panel > .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .mag-component-panel.active > .overlay {
        visibility: hidden; }
    .mag-component-panel.top {
        z-index: 3; }
    .mag-component-panel > .shadow {
        width: 30px;
        position: absolute;
        top: 0;
        z-index: -1;
        display: none; }
        .mag-component-panel > .shadow.left {
            left: -30px; }
        .mag-component-panel > .shadow.right {
            right: -30px; }
    .mag-component-panel.leftShadow > .shadow.left {
        display: block; }
    .mag-component-panel.rightShadow > .shadow.right {
        display: block; }
    .mag-component-panel.active > .shadow {
        z-index: 1; }
    .mag-component-panel.focus {
        outline: 1px dashed red; }
