.stb-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #eee;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-panel.hidden {
        display: none; }
    .stb-component-panel.focus {
        outline: 1px dashed red; }

.mag-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 360px;
    height: 448px;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    position: absolute;
    z-index: 0;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-panel.hidden {
        display: none; }
    .mag-component-panel > .body {
        overflow: hidden; }
    .mag-component-panel > .title {
        height: 56px;
        line-height: 56px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        background-repeat: repeat-x;
        overflow: hidden;
        text-overflow: ellipsis; }
        .mag-component-panel > .title .name {
            text-transform: uppercase; }
        .mag-component-panel > .title .amountContainer {
            width: 90px; }
            .mag-component-panel > .title .amountContainer .amount {
                float: right;
                height: 24px;
                min-width: 14px;
                border-radius: 12px;
                font-size: 19.8px;
                padding: 0 6px;
                line-height: 26.84px; }
    .mag-component-panel .mag-component-list .item {
        height: 56px;
        line-height: 56px;
        font-size: 19.8px; }
        .mag-component-panel .mag-component-list .item .icon {
            font-size: 38.5px; }
    .mag-component-panel.main {
        width: 480px;
        top: 68px;
        left: 400px;
        height: 544px;
        z-index: 2; }
        .mag-component-panel.main .mag-component-list .item {
            height: 68px;
            line-height: 68px;
            font-size: 22px; }
            .mag-component-panel.main .mag-component-list .item .icon {
                font-size: 27.5px; }
        .mag-component-panel.main > .title {
            height: 68px;
            line-height: 68px;
            font-size: 24px; }
        .mag-component-panel.main.size2 {
            width: 780px; }
        .mag-component-panel.main.size3 {
            width: 780px; }
    .mag-component-panel.left {
        top: 128px;
        left: 40px; }
    .mag-component-panel.right {
        top: 128px;
        right: 40px; }
    .mag-component-panel > .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .mag-component-panel .stb-component-scrollbar {
        display: none; }
    .mag-component-panel.active > .overlay {
        visibility: hidden; }
    .mag-component-panel.active .stb-component-scrollbar {
        display: block; }
    .mag-component-panel.top {
        z-index: 3; }
    .mag-component-panel > .shadow {
        width: 20px;
        position: absolute;
        top: 0;
        z-index: -1;
        display: none; }
        .mag-component-panel > .shadow.left {
            left: -20px; }
        .mag-component-panel > .shadow.right {
            right: -20px; }
    .mag-component-panel.leftShadow > .shadow.left {
        display: block; }
    .mag-component-panel.rightShadow > .shadow.right {
        display: block; }
    .mag-component-panel.active > .shadow {
        z-index: 1; }
    .mag-component-panel.focus {
        outline: 1px dashed red; }
