.mag-component-panel.main.position-right {
    left: 250px; }

.mag-component-panel.main.position-left {
    left: 80px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    right: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    left: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel.main.position-right {
    left: 240px; }

.mag-component-panel.main.position-left {
    left: 90px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    right: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    left: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.stb-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-list.hidden {
        display: none; }
    .stb-component-list > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 38.4px;
        line-height: 38.4px; }
        .stb-component-list > .item.mark {
            background-color: green;
            color: black; }
        .stb-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .stb-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .stb-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .stb-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
    .stb-component-list.focus {
        outline: 1px dashed red; }

.mag-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-list.hidden {
        display: none; }
    .mag-component-list > .item {
        cursor: pointer;
        padding: 0 5px;
        vertical-align: middle;
        height: 38.4px;
        line-height: 38.4px; }
        .mag-component-list > .item.mark {
            background-color: green;
            color: black; }
        .mag-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .mag-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .mag-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
    .mag-component-list.focus {
        outline: 1px dashed red; }

.stb-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #eee;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-panel.hidden {
        display: none; }
    .stb-component-panel.focus {
        outline: 1px dashed red; }

.stb-component-scrollbar {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 4px;
    vertical-align: bottom;
    background-color: #bbb;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-scrollbar.hidden {
        display: none; }
    .stb-component-scrollbar .thumb {
        display: block;
        width: 4px;
        min-height: 4px;
        background-color: #aaa; }
        .stb-component-scrollbar .thumb.hidden {
            display: none; }
    .stb-component-scrollbar.horizontal {
        display: block;
        height: 4.8px;
        width: 100%; }
        .stb-component-scrollbar.horizontal .thumb {
            display: inline-block;
            vertical-align: top;
            height: 4.8px;
            min-width: 4.8px; }
    .stb-component-scrollbar.focus {
        outline: 1px dashed red; }

.mag-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 230px;
    height: 360px;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    position: absolute;
    z-index: 0;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-panel.hidden {
        display: none; }
    .mag-component-panel > .body {
        overflow: hidden; }
    .mag-component-panel > .title {
        height: 45px;
        line-height: 45px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        background-repeat: repeat-x;
        overflow: hidden;
        text-overflow: ellipsis; }
        .mag-component-panel > .title .name {
            text-transform: uppercase; }
        .mag-component-panel > .title .amountContainer {
            width: 70px; }
            .mag-component-panel > .title .amountContainer .amount {
                float: right;
                height: 18px;
                min-width: 10px;
                border-radius: 9px;
                font-size: 16.2px;
                padding: 0 4.5px;
                line-height: 21.96px; }
    .mag-component-panel .mag-component-list .item {
        height: 45px;
        line-height: 45px;
        font-size: 16.2px; }
        .mag-component-panel .mag-component-list .item .icon {
            font-size: 31.5px; }
    .mag-component-panel.main {
        width: 390px;
        top: 80px;
        left: 200px;
        height: 400px;
        z-index: 2; }
        .mag-component-panel.main .mag-component-list .item {
            height: 50px;
            line-height: 50px;
            font-size: 18px; }
            .mag-component-panel.main .mag-component-list .item .icon {
                font-size: 22.5px; }
        .mag-component-panel.main > .title {
            height: 50px;
            line-height: 50px;
            font-size: 24px; }
        .mag-component-panel.main.size2 {
            width: 430px; }
        .mag-component-panel.main.size3 {
            width: 430px; }
    .mag-component-panel.left {
        top: 100px;
        left: 50px; }
    .mag-component-panel.right {
        top: 100px;
        right: 50px; }
    .mag-component-panel > .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .mag-component-panel .stb-component-scrollbar {
        display: none; }
    .mag-component-panel.active > .overlay {
        visibility: hidden; }
    .mag-component-panel.active .stb-component-scrollbar {
        display: block; }
    .mag-component-panel.top {
        z-index: 3; }
    .mag-component-panel > .shadow {
        width: 10px;
        position: absolute;
        top: 0;
        z-index: -1;
        display: none; }
        .mag-component-panel > .shadow.left {
            left: -10px; }
        .mag-component-panel > .shadow.right {
            right: -10px; }
    .mag-component-panel.leftShadow > .shadow.left {
        display: block; }
    .mag-component-panel.rightShadow > .shadow.right {
        display: block; }
    .mag-component-panel.active > .shadow {
        z-index: 1; }
    .mag-component-panel.focus {
        outline: 1px dashed red; }
