/* mag-component-panel: release */
.component.panelEx {
    width: 360px;
    height: 448px;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    position: absolute;
    z-index: 0; }
    .component.panelEx > .body {
        overflow: hidden; }
    .component.panelEx > .title {
        height: 56px;
        line-height: 56px;
        position: relative;
        padding-left: 20px;
        text-transform: uppercase;
        background-repeat: repeat-x;
        overflow: hidden;
        text-overflow: ellipsis; }
    .component.panelEx .list .item {
        height: 56px;
        line-height: 56px;
        font-size: 19.8px; }
        .component.panelEx .list .item .icon {
            font-size: 38.5px; }
    .component.panelEx.main {
        width: 480px;
        top: 68px;
        left: 400px;
        height: 544px;
        z-index: 2; }
        .component.panelEx.main .list .item {
            height: 68px;
            line-height: 68px;
            font-size: 22px; }
            .component.panelEx.main .list .item .icon {
                font-size: 27.5px; }
        .component.panelEx.main > .title {
            height: 68px;
            line-height: 68px;
            font-size: 24px; }
        .component.panelEx.main.size2 {
            width: 780px; }
        .component.panelEx.main.size3 {
            width: 780px; }
    .component.panelEx.left {
        top: 128px;
        left: 40px; }
    .component.panelEx.right {
        top: 128px;
        right: 40px; }
    .component.panelEx > .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .component.panelEx .component.scrollBar {
        display: none; }
    .component.panelEx.active > .overlay {
        visibility: hidden; }
    .component.panelEx.active .component.scrollBar {
        display: block; }
    .component.panelEx.top {
        z-index: 3; }
    .component.panelEx > .shadow {
        width: 20px;
        position: absolute;
        top: 0;
        z-index: -1;
        display: none; }
        .component.panelEx > .shadow.left {
            left: -20px; }
        .component.panelEx > .shadow.right {
            right: -20px; }
    .component.panelEx.leftShadow > .shadow.left {
        display: block; }
    .component.panelEx.rightShadow > .shadow.right {
        display: block; }
    .component.panelEx.active > .shadow {
        z-index: 1; }
